<style media="screen">
  li {
    height : 100px;
    width: 100px;
    color: red;
    background-color: purple;
    margin-bottom: 30px;
  }
</style>

<h1>Icecreams</h1>

<ul>
{{#each theicecreams}}
  <li><p>{{name}}</p>
  <p>{{price}}</p>
  <p>{{awesomeness}}</p></li>
{{/each}}

</ul>
